complexity:
  CyclomaticComplexMethod:
    active: true
    threshold: 20
    ignoreSingleWhenExpression: true
    ignoreSimpleWhenEntries: true
  LongMethod:
    active: true
    threshold: 120
  LongParameterList:
    active: true
    functionThreshold: 8
    constructorThreshold: 10
    ignoreDefaultParameters: false
    ignoreDataClasses: true
    ignoreAnnotatedParameter: [ ]
  TooManyFunctions:
    active: true
    excludes: [ '**/test/**', '**/androidTest/**', '**/commonTest/**', '**/jvmTest/**', '**/androidUnitTest/**', '**/androidInstrumentedTest/**', '**/jsTest/**', '**/iosTest/**' ]
    thresholdInFiles: 25
    thresholdInClasses: 25
    thresholdInInterfaces: 16
    thresholdInObjects: 16
    thresholdInEnums: 16
    ignoreDeprecated: false
    ignorePrivate: false
    ignoreOverridden: false
    ignoreAnnotatedFunctions: [ ]

formatting:
  MaximumLineLength:
    maxLineLength: 120
    ignoreBackTickedIdentifier: true

exceptions:
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - 'ActivityNotFoundException'
    allowedExceptionNameRegex: '_|(ignore|expected).*'
  TooGenericExceptionCaught:
    active: true
    excludes: [ '**/test/**', '**/androidTest/**', '**/commonTest/**', '**/jvmTest/**', '**/androidUnitTest/**', '**/androidInstrumentedTest/**', '**/jsTest/**', '**/iosTest/**' ]
    exceptionNames:
      - 'ArrayIndexOutOfBoundsException'
      - 'Error'
      - 'Exception'
      - 'IllegalMonitorStateException'
      - 'IndexOutOfBoundsException'
      - 'NullPointerException'
      - 'RuntimeException'
      - 'Throwable'
    allowedExceptionNameRegex: '_|(ignore|expected|generic).*'

naming:
  FunctionMaxLength:
    active: true
    maximumFunctionNameLength: 50
    ignoreAnnotated:
      - Test

style:
  MaxLineLength:
    active: true
    maxLineLength: 120
    excludePackageStatements: true
    excludeImportStatements: true
    excludeCommentStatements: false
    excludeRawStrings: true
    ignoreAnnotated:
      - Test
  ReturnCount:
    active: true
    max: 4
    excludeLabeled: false
    excludeReturnFromLambda: true
    excludeGuardClauses: true
